<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
       <div class="navbar">
         <div class="navbar-inner">
           <a class="brand" href="#">Microblog</a>
           <ul class="nav">
             <li class="active"><a href="#">首页</a></li>
             <li><a href="#">Link</a>登录</li>
             <li><a href="#">Link</a>注册</li>
           </ul>
         </div>
       </div>
       <div>
            <%- body %>
       </div>
  </body>
</html>